<form action="/posts/<%= @post.id %>/update" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    글 : <input type="text" name="title" value="<%= @post.title %>">
    <br>
    내용 : <textarea name="content"> <%= @post.content %> </textarea>
    <br>
    <button type="submit">제출</button>
</form>