<form action="/posts/create" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    글 : <input type="text" name="title">
    <br>
    내용 : <textarea name="content"></textarea>
    <br>
    <button type="submit">제출</button>
</form>